@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace; 
    color: #333;
}

header{
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    margin: 2rem 3rem;
}

a{
    text-decoration: none;
}

button{
    background-color: #333;
    font-size: 0.7rem;
    border-style: none;
    width: 12vw;
    height: 7vh;
    margin-top: 2.5rem;
}

button a{
    color: #fff;
    text-transform: uppercase;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem 3rem;
}

.main-container .image img{
    width: 32vw;
}

.main-container .content h1{
    font-weight: 700;
    font-size: 3.5rem;
}

.main-container .content p{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2.5rem;
    width: 25vw;
}

footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

footer a{
    font-weight: 700;
    color: grey;
}

@media (max-width: 1200px){
    button{
        grid-template-columns: repeat(1, 1fr);
        display: block;
        width: auto;
        height: auto;
        float: none;
        padding: 1rem;
    }
}

@media (max-width: 870px){
    .main-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .main-container .image img{
        margin: 0 auto;
        width: 75vw;
    }

    .main-container .content h1{
        font-size: 2rem;
    }

    .main-container .content p{
        font-size: 1rem;
        width: auto;
    }
}

